.runs-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.runs-table th {
  border-bottom: 3px solid black;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.runs-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.runs-table tr {
  background-color: white;
}

.button {
  background: #2EC4B6;
  color: black;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.run-form {
  margin-bottom: 20px;
}

.run-page-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}