.mood-page-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.mood-form {
    margin-bottom: 30px;
}

.mood-slider {
  margin: 15px 0;
}

.mood-slider input[type="range"] {
  width: 75%;
  margin-left: 10px;
}