.mood-page-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.mood-form {
    margin-bottom: 30px;
}

.mood-slider input[type="range"] {
  width: 75%;
  margin-left: 10px;
}

.slider-group {
  max-width: 800px;
  margin: 30px auto;
}

.mood-slider {
  width: 100%;
}

.slider-scale {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding: 0 12px;
  font-size: 0.85rem;
}

.slider-scale span {
  text-align: center;
  width: 1ch;
}

.mood-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.mood-table th {
  border-bottom: 3px solid black;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mood-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.mood-table tr {
  background-color: white;
}