.th {
  border-bottom: 3px solid black;
  padding: 10px;
  background: #f2f2f2;
  border-top: black;
}

.td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.tr {
  background-color: white;
}

.button {
  background: #2EC4B6;
  color: black;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}