main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

header {
    background-color: #15324e;       
    padding: 15px 25px;          
    border-radius: 12px;          
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
    text-align: center;
}

h2 {
    color: white;
}

.intro-text {
    margin-top: 12px; 
    font-size: 18px; 
}

section {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

article {
    background-color: #15324e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
    width: 350px;
    min-height: 250px;
    text-align: center;
}

h3 {
    margin-bottom: 10px; 
    color: white; 
}

.box-text {
    color: white; 
}